@model ChangePasswordViewModel
<div class="row justify-content-center mt-3">
    <div class="col-md-8 col-lg-6">
        <partial name="_Message" />
        <h4 class="text-center mb-3">@ViewData["Title"]</h4>
        <div class="card">
            <div class="card-body">
                <form asp-action="ChangePassword" method="post">
                    <div class="mb-3">
                        <label class="form-label" asp-for="NewPassword">Nueva contraseña</label>
                        <input class="form-control" type="password" asp-for="NewPassword" autocomplete="new-password">
                        <span class="text-danger small" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="ReNewPassword">Repita nueva contraseña</label>
                        <input class="form-control" type="password" asp-for="ReNewPassword" autocomplete="new-password">
                        <span class="text-danger small" asp-validation-for="ReNewPassword"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Password">Contraseña actual</label>
                        <input class="form-control" type="password" asp-for="Password" autocomplete="current-password">
                        <span class="text-danger small" asp-validation-for="Password"></span>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
