@model EditProfileViewModel
<div class="row justify-content-center mt-3">
    <div class="col-md-8 col-lg-6">
        <partial name="_Message" />
        <h4 class="text-center mb-3">@ViewData["Title"]</h4>
        <div class="card">
            <div class="card-body">
                <form asp-action="EditProfile" method="post">
                    <div class="mb-3">
                        <label class="form-label" asp-for="Name">Nombre</label>
                        <input class="form-control" asp-for="Name">
                        <span class="text-danger small" asp-validation-for="Name"></span>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
