<div class="container">
    <div class="row">
        <div class="text-center" style="margin-bottom:10px;margin-top:10px">
            @ViewBag.Message
        </div>
        
    </div>
</div>
@section scripts {
    <script src="~/Scripts/session-validations.js"></script>
}